[submodule "octokit"]
	path = octokit
	url = git@github.com:armcknight/octokit.swift
[submodule "git-kit"]
	path = git-kit
	url = git@github.com:armcknight/git-kit
[submodule "RequestKit"]
	path = RequestKit
	url = git@github.com:armcknight/RequestKit.git
[submodule "GitLabSwift"]
	path = GitLabSwift
	url = git@github.com:armcknight/GitLabSwift.git
